/****Yellow page ***/

#ybody {
    background-color: yellow;
}

h1 {
    text-align: center;
}

.div1 {
    text-align: center;
    margin: auto;
}

a:link, a:active, a:visited {
    text-decoration: none;
}

a.button1 {
    background-color: yellow;
    color: black;
    border: 2px solid black;
}

a.button1:hover {
    background-color: black;
    color: yellow;
}

/***Black page***/

#bbody {
    background-color: black;
}

.bh1 {
    color: yellow;
}

.div2 {
    text-align: center;
    margin: auto;
}

.button2 {
    background-color: black;
    color: yellow;
    border: 2px solid yellow;
}

.button2:hover {
    background-color: yellow;
    color: black;
}