/**Both pages**/

body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
    font-size: 4em;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    padding: 0 20%;
    margin-top: 2%;
    text-align: center;
    line-height: 1.5;
}

img {
    display: block;
    margin: 10% auto;
    width: 40%;
}

img:hover {
    transform: scaleX(-1);
  }


/****Yellow page ***/

#ybody {
    background-color: yellow;
}

.yheader {
    margin: 5% auto;
}

.div1 {
    text-align: center;
    margin: 15% auto;
}

/**a:link, a:active, a:visited {
    text-decoration: none;
}**/

a.button1 {
    text-decoration: none;
    background-color: yellow;
    color: black;
    border: 5px solid black;
    padding: 30px;
}

a.button1:hover {
    background-color: black;
    color: yellow;
    border: 5px solid black;
}

/***Black page***/

#bbody {
    background-color: black;
}

.bheader {
    margin: 5% auto;
}

.bh1 {
    color: yellow;
}

.div2 {
    text-align: center;
    margin: 15% auto;
}

a.button2 {
    text-decoration: none;
    background-color: black;
    color: yellow;
    border: 5px solid yellow;
    padding: 30px;
}

a.button2:hover {
    background-color: yellow;
    color: black;
    border: 5px solid yellow;
}

.bwords {
    color: yellow;
    font-weight: lighter;
}

.bend {
    color: yellow;
    font-weight: lighter;
}